/* Colours */
$dark-gray: #333;
$blue: #D5EEFF;
$dark-blue: #0b306b;
$dark-purple: #5e448c;
$light-gray: #f7f7f7;

/* Font Size */
$font-size-large: 1.8rem;

/* Spacing */
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
